<div class="bg-white p-3 rounded-md flex justify-between mt-5 m-auto items-center containers">
  <div class="flex items-center">
    <img class="w-9 h-9 rounded-full" src="abdo.png" alt="Default avatar" />
    <div class="ms-3 font-semibold">
      <p class="opacity-55">تم الانشاء بواسطة</p>
      <p class="">{{ createdBy }}</p>
    </div>
  </div>
  <div>
    <div class="opacity-55">
      <p>تاريخ الانشاء</p>
    </div>
    <div class="flex items-center">
      <p>01/12/2024</p>
      <p class="bg-gray-200 rounded-md h-2 w-2 mx-1"></p>
      <p>04:30 م</p>
    </div>
  </div>
</div>
